

#site-title {
	text-align:center;
	color:#a88e71;
	background-color:#f2f2f2;
	font-size:75px;
	font-family:"ubuntu", sans-serif;
}

h1 {
	text-align:center;
	background-color:#7c9179;
	color:#dcddde;
	font-size:50px;
	font-family: "garamond", serif;
}

.links, .inst, .dont, .misc {
	font-family:"verdana", sans-serif;
	font-size:25px;
}

h3 {
	font-family:"arial", sans-serif;
	font-size:33px;
	font-weight:500;
}

h2 {
	font-family:"garamond", serif;
	font-size:40px;
}	














